#AboutMe {
    align-items: center;
}
#AboutMe h2 {
    font-weight: 900;
}

.skill-icon{
    font-size: 4rem;
}

#AboutMe p,
#AboutMe small {
    color:#205a58;
}


@media all and (max-width: 575px) {
    #AboutMe--content {
        padding-right: 0 !important;
    }
}
