#Heading {
    height: 100vh;
    overflow: hidden;
    /* outline: 2px solid black; */
}

#Heading>.row {
    height: 100%;
}

#heading--left,
#heading--right {
    height: 100%;
    max-height: 100vh;
}


.intro h1 {
    font-weight: 900;
    line-height: 2rem;
}

.intro p {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.75rem;
    width: 30ch;
}


#profile-pic {
    max-height: 85%;
    filter: drop-shadow(7px 7px 7px #2B7A78);
    z-index: 0;
    animation: fadeIn ease-in 2s;
    -webkit-animation: fadeIn ease-in 2s;
    -moz-animation: fadeIn ease-in 2s;
    -o-animation: fadeIn ease-in 2s;
    -ms-animation: fadeIn ease-in 2s;
}

#main-contacts {
    /* opacity:0; */
    animation: fadeIn ease-in 4s;
    -webkit-animation: fadeIn ease-in 4s;
    -moz-animation: fadeIn ease-in 4s;
    -o-animation: fadeIn ease-in 4s;
    -ms-animation: fadeIn ease-in 4s;
}

/* #main-contacts::before {
    opacity: 0;
}

#main-contacts::after {
    opacity: 1;
} */


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#cv-btn {

    font-size: 1rem;
    border-radius: 50em;
    font-weight: 600;
    letter-spacing: .25rem;

}

#main-contacts .col {
    display: flex;
    flex: 0 1 33%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


#main-contacts img {
    display: flex;
    flex-grow: 1;
    width: 2.25rem;
    align-self: center;
}

@keyframes pulse {
    from {
        font-size: 7rem;
    }

    to {
        font-size: 8rem;
    }

    /* 100% {
        font-size: 7rem;
    } */
}

.down-arrow-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
    color: #205a58;
    max-height: 4rem;
    overflow: hidden;
    animation-name: pulse;
    animation-duration: .75s;
    animation-iteration-count: 6;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-delay: 3s;
}


@media all and (max-width: 575px) {

    #heading--left,
    #heading--right {
        height: 50vh;
    }

    #profile-pic {
        height: 55vh;
        max-height: 60vh;
    }

    .intro {
        display: flex;
        flex-direction: column;
        max-width: 320px;
        overflow: hidden;
        /* outline: 2px solid black; */
    }

    .intro #cv-btn {
        max-width: 220px;
    }

    .intro p {
        /* word-break: break-all; */
        display: flex;
        white-space: normal;
        max-width: 315px;
    }
}