#Heading {
    height: 100vh;
    overflow: hidden;
    /* outline: 2px solid black; */
}

#Heading>.row {
    height: 100%;
}

#heading--left,
#heading--right {
    height: 100%;
    max-height: 100vh;
}


.intro h1 {
    font-weight: 900;
    line-height: 2rem;
}

.intro p {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.75rem;
    width: 30ch;
}


#profile-pic {
    max-height: 85%;
    filter: drop-shadow(7px 7px 7px #2B7A78);
    z-index: 0;
}

#cv-btn {

    font-size: 1rem;
    border-radius: 50em;
    font-weight: 600;
    letter-spacing: .25rem;

}

#main-contacts .col {
    display: flex;
    flex: 0 1 33%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


#main-contacts img {
    display: flex;
    flex-grow: 1;
    width: 2.25rem;
    align-self: center;
}

@media all and (max-width: 575px) {

    #heading--left,
    #heading--right {
        height: 50vh;
    }

    #profile-pic {
        height: 55vh;
        max-height: 60vh;
    }

    .intro {
        display: flex;
        flex-direction: column;
        max-width: 320px;
        overflow: hidden;
        /* outline: 2px solid black; */
    }

    .intro #cv-btn {
        max-width: 220px;
    }

    .intro p {
        /* word-break: break-all; */
        display: flex;
        white-space: normal;
        max-width: 315px;
    }

    /* #main-contacts {
        bottom: 100%;
        top: 0%;
    } */

}