.Heading {
    height: 100vh;
    outline: 2px solid black;
}

#heading--left,
#heading--right {
    height: 100vh;
}


.intro h1 {
    font-weight: 900;
    line-height: 2rem;
}

.intro p {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.75rem;
    width: 30ch;
}


#profile-pic {
    height: 90vh;
    filter: drop-shadow(7px 7px 7px #2B7A78);
    position: absolute;
    bottom: 0;
    z-index: 0;
}

#cv-btn {

    font-size: 1rem;
    border-radius: 50em;
    font-weight: 600;
    letter-spacing: .25rem;

}

#main-contacts .col {
    display: flex;
    flex: 0 1 33%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


#main-contacts img {
    display: flex;
    flex-grow: 1;
    width: 2.25rem;
    align-self: center;
}