#Projects h2 {
    font-weight: 900;
}

#Projects .ProjectCard {
    border-radius: 1.5rem !important;
    overflow: hidden;
    outline: none;
    border: none;
    filter: drop-shadow(7px 7px 7px var(--gray-800));
    cursor: pointer;
}

#Projects .ProjectCard .data {
    bottom: 0;
    width: 100%;
    transform: translateY(calc(20px + 1em));
    transition: transform 0.3s;
    --bs-bg-opacity: .4;
}

#Projects .project--title {
    color: var(--neutral-white);
    --bs-bg-opacity: .4;
    white-space: pre-line;
}

#Projects .ProjectCard .portfolio-icons {
    color: var(--gray-600);
}

#Projects .ProjectCard .card-text {
    color: var(--gray-600);
}

#Projects .ProjectCard .content {
    position: relative;
    z-index: 1;
}

#Projects .ProjectCard:hover .data {
    transform: translateY(0);
}

.modal--title{
    color: var(--neutral-white);
    --bs-bg-opacity: .4;
    white-space: pre-line;
}

.modal--stack {
    color: var(--gray-800);
}


.modal-body > .modal-desc a {
    text-decoration: none;
}

@media all and (max-width: 575px) {
    #Projects .project--cards,
    #Projects .project--cards .col-12{
        padding-inline: 0 !important;
      } {
      padding-inline: 0 !important;
    }  
  }