:root {
  --neutral-white: #FEFFFF;
  --neutral-black: #17252A;
  --gray-600: #2B7A78;
  --gray-800: #205a58;
}

html {
  scroll-behavior: smooth;
}

.btn, nav{
  font-family: 'IBM Plex Sans', sans-serif;
}