.btn, nav{
  font-family: 'IBM Plex Sans', sans-serif;
}

a.nav-link {
  font-size: 1.5rem;
  font-weight: 700;
  position: relative;
}


.nav-link:after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: white;
  width: 0%;
  left: 50%;
  margin-top: 1rem;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.nav-link:focus {
  outline: none;
  width: 100%;
}

.nav-link:hover:after {
  width: 90%;
}
.nav-link:focus:after {
  text-decoration: none;
  width: 90%;
}

/* .navbar ul .nav-item:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 5px;
  height: 2px;
  width: 100%;
  background: #33ffff;
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
} */